
{% extends "base.html" %}
{% block title %} &ndash; 
		记录
{% endblock %}
{% block content %}
<article class="single">
		<header>
		<div class="toc">
<ul>
<li><a href="#_1">工具</a></li>
<li><a href="#unity">Unity</a><ul>
<li><a href="#profile">宣雨松Profile深挖系列</a></li>
</ul>
</li>
<li><a href="#lua-osdate">lua os.date</a></li>
<li><a href="#latex">Latex数学符号</a></li>
</ul>
</div>
<h2 id="_1">工具</h2>
<p><a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">时区 wiki</a></p>
<p><a href="http://tool.chinaz.com/tools/unixtime.aspx">站长工具-Unix 时间戳</a></p>
<p><a href="https://www.fangdaijisuanqi.com/">房贷计算器</a></p>
<h2 id="unity">Unity</h2>
<h3 id="profile">宣雨松Profile深挖系列</h3>
<p><a href="https://connect.unity.com/p/profilershen-wa-dao-hang-tiao-1">Profiler深挖-导航条</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-cpu-2">Profiler深挖-CPU面板</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-gpumian-ban-3">Profiler深挖-GPU面板</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-renderingmian-ban-4">Profiler深挖-Rendering面板</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-memorymian-ban-5">Profiler深挖-Memory面板</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-uimian-ban-6">Profiler深挖-UI面板</a></p>
<p><a href="https://connect.unity.com/p/profilershen-wa-zhen-ji-7">Profiler深挖-真机</a></p>
<h2 id="lua-osdate"><a href="https://www.jianshu.com/p/76ac11863591">lua os.date</a></h2>
<h2 id="latex"><a href="http://mohu.org/info/symbols/symbols.htm">Latex数学符号</a></h2>
	</header>
</article>
{% endblock %}
		